body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.black {
  color: black;
}

.menu-icon-color {
  color: black;
}

.menu-icon-color:hover {
  color:green;
}

.select-div-color {
  background-color: white
}

.select-div-color:hover {
  background-color: rgb(193, 164, 219);
}

.delete-icon-color {
  color:black
}

.delete-icon-color:hover {
  color: red
}

.block {
  display: block;
}

